<h1>Admin::Dashboard#show</h1>

  <h3>Total Products: 
    <%= link_to @products_count, '/admin/products' %>
  </h3>
  <h3>Total Categories:
    <%= link_to @categories_count,'/admin/categories' %>
  </h3>