// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// User Authentication
li.user-auth {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
