// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// User Authentication
li.user-auth {
  display: flex;
  align-items: center;
}

.user-auth-form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.form-bottom-margin {
  margin-bottom: 10px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
